@charset "UTF-8";
/* ===================================================================

 contents.css

===================================================================== */


/* 共通デザイン *******************************************************/



/* 共通デザインここまで ***********************************************/

@media screen and (max-width: 640px){ /* スマホ用デザイン *************/



} /* スマホ用デザインここまで *****************************************/

@media screen and (min-width: 641px){ /* PC用デザイン *****************/



/*----------------------------------------------------------
 contentsNav
------------------------------------------------------------*/

#contentsNav a,
#contentsNav dt {
	background: #b753e9;
	color: #fff;
}

#contentsNav .current a,
#contentsNav a:hover,
#contentsNav .current a:after,
#contentsNav a:hover:after {
	background: #c76af6;
}


/*----------------------------------------------------------
 contents
------------------------------------------------------------*/

#contents h1 {
	background: #f23f97;
	color: #fff;
}

.tabContents h2 {
	color: #e23f87;
}


} /* PC用デザインここまで *********************************************/
