@charset "UTF-8";
/* ===================================================================

 contents.css

===================================================================== */


/* 共通デザイン *******************************************************/



/* 共通デザインここまで ***********************************************/

@media screen and (max-width: 640px){ /* スマホ用デザイン *************/



} /* スマホ用デザインここまで *****************************************/

@media screen and (min-width: 641px){ /* PC用デザイン *****************/



/*----------------------------------------------------------
 contentsNav
------------------------------------------------------------*/

#contentsNav a,
#contentsNav dt {
	background: #039;
	color: #fff;
}

#contentsNav .current a,
#contentsNav a:hover,
#contentsNav .current a:after,
#contentsNav a:hover:after {
	background: #47d;
}


/*----------------------------------------------------------
 contents
------------------------------------------------------------*/


} /* PC用デザインここまで *********************************************/
