/*----------------------------------------------------------
 Base
------------------------------------------------------------*/

html
  overflow-y: scroll

body, input, select, textarea
  font-size: $font_size_default
  color: $color_text_default
  font-family: $font_family_pc

@media $mq-mobile
  body, input, select, textarea
    font-size: 100%

h1, h2, h3, h4, h5, h6, th, td, small
  font-size: 100%

input, select, textarea
  font-size: inherit
  font-weight: inherit
  font-family: inherit


/*----------------------------------------------------------
 Anchers
------------------------------------------------------------*/

a:link,
a:visited
  color: $color_text_link
  text-decoration: underline

a:active,
a:hover
  color: $color_text_link_hover
  text-decoration: none
