/*----------------------------------------------------------
 page
------------------------------------------------------------*/

.page
  min-width: 320px
  padding-top: 50px


/*----------------------------------------------------------
 header
------------------------------------------------------------*/

.header
  position: relative
  z-index: 2

.header-heading
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding: 10px
  background: rgba(255, 255, 255, 0.8)
  box-sizing: border-box

.header-heading-logo
  width: 145px

.header-heading-logo
  a, span
    display: block
    width: 100%
    img
      width: 100%
      height: auto


/* btnContentsNav
--------------------------------------------------*/

.header-heading-btnContentsNav
  position: absolute
  top: 14px
  right: 14px
  width: 26px
  height: 22px
  span, &:before, &:after
    content: ""
    position: absolute
    left: 0
    width: 100%
    height: 2px
    background: #d4ddee
    text-indent: -9999px
    span
      top: 0
  &:before
    top: 10px
  &:after
    top: 20px
  &.active
    span
      display: none
    &:before, &:after
      top: 10px
      left: 0
      height: 1px
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)


/*----------------------------------------------------------
 globalNav
------------------------------------------------------------*/

.globalNav
  border-bottom: 1px solid #fff
  background: #111

.globalNav-list
  display: flex
  li
    width: 25%
    border-left: 1px solid #fff
    &:first-child
      border-left-width: 0
    a, span
      display: block
      padding: 7px 0 5px
      font-size: 14px
      color: #fff
      text-align: center
      text-decoration: none
    &.current
      background: #555


/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.main
  padding-bottom: 50px

.main-header
  border-bottom: 1px solid #ccc
  background: #fff

.main-header-topicPath
  display: none
  padding: 5px 0
  background: #eee

.main-header-topicPath-list
  li
    display: inline
    + li:before
      content: "＞"
      margin: 0 5px

.main-header-supplementary
  padding: 2px 10px 3px
  background: #eee
  font-size: 12px

.main-header-title
  padding: 30px 5px
  font-size: 18px
  text-align: center
  letter-spacing: 0.1em

.main-contents
  padding-top: 15px


/*----------------------------------------------------------
 contents
------------------------------------------------------------*/



/*----------------------------------------------------------
 sidebar
------------------------------------------------------------*/

.sidebar
  position: fixed
  top: 0
  left: 0
  z-index: 2
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.5)
  box-sizing: border-box
  opacity: 0

.sidebar-nav
  position: absolute
  bottom: 0
  right: 0
  width: 80%
  height: 80%
  background: #333
  border-radius: 5px 0 0 0
  box-shadow: 0 0 3px #333
  overflow-y: scroll

.sidebar-nav-title
  padding: 20px 15px
  color: #fff

.sidebar-nav-list
  li
    border-bottom: 1px solid #555
    &:first-child
      border-top: 1px solid #999
    a
      display: block
      position: relative
      padding: 12px 20px 12px 25px
      font-size: 14px
      color: #fff
      text-decoration: none
      &:after
        content: ""
        display: block
        position: absolute
        top: 50%
        right: 12px
        width: 8px
        height: 8px
        margin-top: -4px
        border-top: 2px solid #aaa
        border-right: 2px solid #aaa
        transform: rotate(45deg)
      &.current
        a
          background: #444
          &:after
            border-width: 0


/*----------------------------------------------------------
 footer
------------------------------------------------------------*/

.footer-btnPagetop
  border-bottom: 1px solid #ddd
  a
    display: block
    position: relative
    height: 40px
    background: #bbb
    text-indent: -9999px
    &:after
      content: ""
      position: absolute
      top: 17px
      left: 50%
      width: 15px
      height: 15px
      margin-left: -10px
      border-top: 2px solid #fff
      border-left: 2px solid #fff
      transform: rotate(45deg)

.footer-inner
  padding: 20px 10px
  background: #111
  text-align: center

.footer-inner-nav
  li
    display: inline-block
    margin: 0 15px
    a
      font-size: 12px
      color: #fff
      text-decoration: none

.footer-inner-attention
  margin-top: 15px
  font-size: 12px
  color: #999

.footer-copyright
  padding: 30px 0
  font-size: 12px
  text-align: center
  a
    display: inline-block
    width: 80px
    margin-left: 2px
    padding-bottom: 5px
    vertical-align: middle
    img
      width: 100%
      height: auto
