/*----------------------------------------------------------
 Reset
------------------------------------------------------------*/

body, div, section, article, aside, nav,
h1, h2, h3, h4, h5, h6,
span, time, figure, figcaption,
p, blockquote, pre, address, code,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, button,
table, tbody, thead, tfoot, tr, th, td
  margin: 0
  padding: 0
  line-height: $line_height_default
  word-break: break-all

ul, ol
  list-style: none

img
  border: 0
  vertical-align: bottom

table
  border-collapse: collapse

input,
select
  vertical-align: middle

em
  font-style: normal

button
  background: none
  border: none
