<footer class="footer">
  <div class="footer-btnPagetop js-btnPagetop"><a href="#PageView">PAGE TOP</a></div>
  <div class="footer-inner">
    <ul class="footer-inner-nav">
      <li><a href="/team/">チーム</a></li>
      <li><a href="/player/">選手</a></li>
      <li><a href="/data/">データ</a></li>
      <li><a href="/documents/">資料</a></li>
    </ul>
    <ul class="footer-inner-nav">
      <li><a href="http://www.konami.jp/pawa/index.php5" target="_blank">パワプロ通信</a></li>
    </ul>
    <p class="footer-inner-attention">
      当サイトは個人的な情報を扱うサイトです。<br>
      また、使用している画像等は著作権法に違反するため、一般への公開はしておりません。
    </p>
  </div>
  <p class="footer-copyright">
    <small>&copy; Powered by <a href="http://kim0ran.com/" target="_blank"><img src="/common/img/logo_kim0ran.png" alt="きもらんドットコム"></a></small>
  </p>
</footer>
