<% var title = title || ''; %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title><% if(title !== '') { %><%= title %><% } %></title>
<meta name="description" content="★概要★">
<meta name="keywords" content="★キーワード★">
<link rel="stylesheet" type="text/css" href="/common/css/common.css">