<% if(typeof type === 'undefined') { type = ''; } %>
<div class="sidebar" id="SidebarView">
  <nav class="sidebar-nav js-sidebarNav">
    <% if(type === 'team') { %>
      <p class="sidebar-nav-title">チーム</p>
      <ul class="sidebar-nav-list">
        <li><a href="/" data-team="all">全て</a></li>
        <li><a href="/" data-team="warrior">武将</a></li>
        <li><a href="/" data-team="leaf">Leaf</a></li>
        <li><a href="/" data-team="aquaplus">AQUAPLUS</a></li>
        <li><a href="/" data-team="hp">ハロープロジェクト</a></li>
        <li><a href="/" data-team="akb48g">AKB48グループ</a></li>
        <li><a href="/" data-team="">サイドナビ</a></li>
        <li><a href="/" data-team="">サイドナビ</a></li>
      </ul>
    <% } else if(type === 'position') { %>
      <p class="sidebar-nav-title">ポジション</p>
      <ul class="sidebar-nav-list">
        <li><a href="/" data-position="">投手</a></li>
        <li><a href="/" data-position="">捕手</a></li>
        <li><a href="/" data-position="">内野手</a></li>
        <li><a href="/" data-position="">外野手</a></li>
      </ul>
    <% } %>
  </nav>
</div><!--/.sidebar -->
