<div class="playerList-refinePanel refinePanel" id="RefinePanelView">
  <div class="refinePanel-header">
    <p class="refinePanel-header-title">絞り込み条件</p>
    <div class="refinePanel-header-info">
      <dl>
        <dt>作成状況</dt>
        <dd>
          <ul class="refinePanel-header-info-list">
            <li>作成済み</li>
            <li>未作成</li>
          </ul>
        </dd>
      </dl>
      <dl>
        <dt>ポジション</dt>
        <dd>
          <ul class="refinePanel-header-info-list">
            <li>投手（先発）</li>
            <li>一塁手</li>
            <li>外野手</li>
            <li>投手（先発）</li>
            <li>一塁手</li>
            <li>外野手</li>
          </ul>
        </dd>
      </dl>
    </div>
    <button class="refinePanel-header-btnSetting btn-action _small js-accordTriggerBtn">条件を変更</button>
  </div><!--/.refinePanel-header -->
  <div class="refinePanel-set js-accordMain">
    <dl class="refinePanel-set-category">
      <dt>作成状況</dt>
      <dd>
        <ul class="refinePanel-set-category-list">
          <li><label><input type="checkbox" checked="checked">全て</label></li>
          <li><label><input type="checkbox">全て</label></li>
          <li><label><input type="checkbox">全て</label></li>
        </ul>
      </dd>
    </dl>
    <dl class="refinePanel-set-category">
      <dt>作成状況</dt>
      <dd>
        <ul class="refinePanel-set-category-list">
          <li><label><input type="checkbox" checked="checked">全て</label></li>
          <li><label><input type="checkbox">全て</label></li>
          <li><label><input type="checkbox">全て</label></li>
        </ul>
      </dd>
    </dl>
    <div class="refinePanel-set-btnArea">
      <button class="refinePanel-set-btnArea-btnRefine btn-submit _large">絞り込む</button>
    </div>
  </div><!--/.refinePanel-set -->
</div><!--/.refinePanel -->
