<section class="thumbList" id="ThumbListView">
  <div class="thumbList-inner">
    <div class="inner">
      <div class="thumbList-area">
        <div class="thumbList-area-player">
          <ul class="thumbList-area-player-list">
            <li>
              <figure><figcaption>織田 信長</figcaption><img src="/common/img/player/img_noThumb.gif" alt=""></figure>
            </li>
            <li class="current">
              <figure><figcaption>島 左近</figcaption><img src="/common/img/player/img_noThumb.gif" alt=""></figure>
            </li>
            <li>
              <figure><figcaption>天草 四郎</figcaption><img src="/common/img/player/img_noThumb.gif" alt=""></figure>
            </li>
            <li>
              <figure><figcaption>那須 与一</figcaption><img src="/common/img/player/img_noThumb.gif" alt=""></figure>
            </li>
          </ul>
        </div><!--/.thumbList-area-player -->
      </div><!--/.thumbList-area -->
      <div class="thumbList-btnSlide">セレクト</div>
    </div>
  </div><!--/.thumbList-inner -->
</section>
