/*----------------------------------------------------------
 color
------------------------------------------------------------*/

// base color
// $color_main = ;
// $color_sub = ;
// $color_accent = ;
// $color_balance = ;
$color_white = #fff;


// tone color
// $color_link = ;
// $color_action = ;
// $color_negative = ;
// $color_alert = ;


// text color
$color_text_default = #333;
$color_text_sub = #666;
$color_text_link = #00f;
$color_text_link_hover = #f00;