/*----------------------------------------------------------
 font
------------------------------------------------------------*/

// font-family
$font_family_pc = "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
$font_family_sp = "Hiragino Kaku Gothic ProN", sans-serif;


// font-size
$font_size_default = 12px;
$font_size_min = 10px;
$font_size_s = 14px;
$font_size_m = 16px;
$font_size_l = 18px;


// line-height
$line_height_default = 1.5em;