@charset "UTF-8";
/* ===================================================================

 common

======================================================================*/

@import "../../_partial/var/_settings"
@import "../../_partial/base/_reset"
@import "../../_partial/base/_base"
@import "../../_partial/module/_button"
@import "../../_partial/module/_icon"
@import "../../_partial/base/_layout"

@media screen and (min-width: $pcScreenMinWidth)
  @import "../../_partial/pc/_layout"
