@charset "utf-8"
/* ===================================================================

 playerDetails.css

======================================================================*/

@import "../../../_partial/var/_settings"

/*----------------------------------------------------------
 playerDetails
------------------------------------------------------------*/

.playerDetails
  .main-contents
    background: #f3f6ff

.playerDetails-title
  padding: 15px 5px

.playerDetails-title-no
  margin-bottom: 5px
  font-size: 16px

.playerDetails-title-name
  line-height: 1.1em

.playerDetails-title-ruby
  display: block
  font-size: 10px
  line-height: 1.5em


/*----------------------------------------------------------
 thumbList
------------------------------------------------------------*/

.thumbList
  display: none


/*----------------------------------------------------------
 playerProfile
------------------------------------------------------------*/

/* playerProfile-gallery
--------------------------------------------------*/

.playerProfile-gallery-list,
.playerProfile-gallery-nav
  display: none

.playerProfile-gallery-thumb
  display: block
  text-align: center;


/* playerProfile-list
--------------------------------------------------*/

.playerProfile-list
  margin: 15px 10px 0
  background: #fff
  border: 1px solid #eee
  border-radius: 3px
  overflow: hidden
  dt, dd
    padding: 7px 15px 5px
    box-sizing: border-box
    font-size: 12px
  dt
    clear: left
    float: left
    width: 35%
  dd
    border-bottom: 1px dotted #e6e6e6
    font-weight: bold
    &:last-child
      border-bottom-width: 0
    ul
      overflow: hidden
      li
        display: inline
        margin-right: 10px


/*----------------------------------------------------------
 playerAbility
------------------------------------------------------------*/

.playerAbility
  margin-top: 30px
  background: #fff


/* playerAbility-tab
--------------------------------------------------*/

.playerAbility-tab
  display: flex
  li
    flex-basis: 33%
    padding: 10px 0
    border-width: 1px 0
    border-style: solid
    border-color: #ddd
    background: #eee
    box-sizing: border-box
    font-size: 12px
    color: #999
    text-align: center
    font-weight: bold
    &:nth-of-type(2)
      flex-grow: 1
      border-width: 1px
    &.active
      background: #fff
      border-bottom-color: #fff
      color: #444

.playerAbility-main
  padding-top: 15px


/* playerAbility-contents
--------------------------------------------------*/

.playerAbility-contents
  padding: 0 10px
  &.pitchersAbility
    background: url($pathImage + "bg_pitcher.jpg") no-repeat 100% 15px
  &.fieldersAbility
    background: url($pathImage + "bg_fielder.jpg") no-repeat 100% 40px
  &.othersAbility
    background: url($pathImage + "bg_other.jpg") no-repeat 100% 20px

.playerAbility-contents-section
  padding-bottom: 30px

.playerAbility-contents-section-title
  margin-bottom: 15px
  padding: 6px 10px 5px
  background: #555
  border-radius: 3px
  font-size: 12px
  color: #fff

.playerAbility-contents-section-text
  margin: 0 5px
  font-size: 12px


/*----------------------------------------------------------
 parameters
------------------------------------------------------------*/

.parameters-list
  padding: 0 10px 10px
  font-size: 12px
  overflow: hidden
  dt
    clear: left
    float: left
    width: 90px
    margin-right: 10px
    color: #666
    font-weight: bold
  dd
    margin-bottom: 7px
    overflow: hidden
    [class*="icon-"]
      margin-right: 7px

.parameters-breakingBall
  padding-top: 15px
  border-top: 1px dotted #ccc

.parameters-position
  padding-top: 15px
  border-top: 1px dotted #ccc

.parameters-position-list
  position: relative
  width: 180px
  height: 160px
  margin: 0 auto
  background: url($pathImage + "bg_field.png") no-repeat 50% 0
  dt
    display: none
  dd
    position: absolute
    &.parameters-position-pitcher
      top: 95px
      left: 82px
    &.parameters-position-catcher
      top: 140px
      left: 82px
    &.parameters-position-firstBase
      top: 90px
      left: 121px
    &.parameters-position-secondBase
      top: 62px
      left: 106px
    &.parameters-position-thirdBase
      top: 90px
      left: 43px
    &.parameters-position-shortStop
      top: 62px
      left: 58px
    &.parameters-position-leftField
      top: 40px
      left: 32px
    &.parameters-position-centerField
      top: 19px
      left: 82px
    &.parameters-position-rightField
      top: 40px
      left: 133px

/*----------------------------------------------------------
 breakingBall
------------------------------------------------------------*/

.breakingBall
  position: relative
  width: 210px
  height: 135px
  margin: 0 auto
  overflow: hidden

.breakingBall-list
  position: absolute
  li
    position: relative
    box-sizing: border-box
    font-size: 10px
    line-height: 1.2em


/* breakingBall-stripe
--------------------------------------------------*/

.breakingBall-extend
  display: inline-block
  position: absolute
  background-image: url($pathImage + "stripe/breakingBall.png")
  background-repeat: no-repeat
  text-indent: -9999px

.breakingBall-ball
  @extend .breakingBall-extend
  top: 32px
  left: 50%
  width: 18px
  height: 18px
  margin-left: -9px
  background-position: 0 0

.breakingBall-top
  top: 0
  left: 0
  width: 100%
  li
    height: 30px
    text-align: center
    span
      @extend .breakingBall-extend
      bottom: 0
      left: 50%
      width: 10px
      height: 12px
      margin-left: -5px
      &.level1
        background-position: -50px 0
    &:nth-last-of-type(2)
      float: left
      width: 50%
      padding-right: 11px
      text-align: right
      span
        left: auto
        right: 0
        margin-left: 0
    &:first-child + li
      float: right
      width: 50%
      padding-left: 9px
      text-align: left
      span
        left: 0
        margin-left: 0

.breakingBall-left
  top: 21px
  left: 0
  li
    width: 90px
    height: 24px
    span
      @extend .breakingBall-extend
      bottom: 0
      right: 0
      width: 60px
      height: 10px
      &.level0
        background-position: -100px 0
      &.level1
        background-position: -100px -75px
      &.level2
        background-position: -100px -150px
      &.level3
        background-position: -100px -225px
      &.level4
        background-position: -100px -300px
      &.level5
        background-position: -100px -375px
      &.level6
        background-position: -100px -450px
      &.level7
        background-position: -100px -525px
    &:nth-last-of-type(2)
      span
        bottom: 2px
    &:first-child + li
      padding-top: 9px
      span
        top: -4px
        bottom: auto

.breakingBall-leftBottom
  top: 52px
  left: 0
  width: 93px
  li
    width: 100%
    padding-top: 55px
    span
      @extend .breakingBall-extend
      top: 0
      right: 0
      width: 49px
      height: 49px
      &.level0
        background-position: -200px 0
      &.level1
        background-position: -200px -75px
      &.level2
        background-position: -200px -150px
      &.level3
        background-position: -200px -225px
      &.level4
        background-position: -200px -300px
      &.level5
        background-position: -200px -375px
      &.level6
        background-position: -200px -450px
      &.level7
        background-position: -200px -525px
    &:nth-last-of-type(2)
      padding: 17px 50px 35px 7px
      span
        top: -4px
    &:first-child + li
      margin-top: -76px
      span
        top: 2px
        right: -6px

.breakingBall-bottom
  top: 55px
  left: 0
  width: 100%
  li
    padding-top: 63px
    text-align: center
    span
      @extend .breakingBall-extend
      top: 0
      left: 50%
      width: 10px
      height: 60px
      margin-left: -5px
      &.level0
        background-position: -250px 0
      &.level1
        background-position: -250px -75px
      &.level2
        background-position: -250px -150px
      &.level3
        background-position: -250px -225px
      &.level4
        background-position: -250px -300px
      &.level5
        background-position: -250px -375px
      &.level6
        background-position: -250px -450px
      &.level7
        background-position: -250px -525px
    &:nth-last-of-type(2)
      float: left
      width: 50%
      padding-right: 10px
      text-align: right
      span
        left: auto
        right: -1px
        margin-left: 0
    &:first-child + li
      float: right
      width: 50%
      padding-left: 10px
      text-align: left
      span
        left: -1px
        margin-left: 0

.breakingBall-rightBottom
  top: 52px
  right: 0
  width: 93px
  li
    width: 100%
    padding-top: 55px
    text-align: right
    span
      @extend .breakingBall-extend
      top: 0
      left: 0
      width: 49px
      height: 49px
      &.level0
        background-position: -300px 0
      &.level1
        background-position: -300px -75px
      &.level2
        background-position: -300px -150px
      &.level3
        background-position: -300px -225px
      &.level4
        background-position: -300px -300px
      &.level5
        background-position: -300px -375px
      &.level6
        background-position: -300px -450px
      &.level7
        background-position: -300px -525px
    &:nth-last-of-type(2)
      padding: 17px 7px 35px 50px
      span
        top: -4px
    &:first-child + li
      margin-top: -76px
      span
        top: 2px
        left: -6px

.breakingBall-right
  top: 21px
  right: 0
  li
    width: 90px
    height: 24px
    text-align: right
    span
      @extend .breakingBall-extend
      bottom: 0
      left: 0
      width: 60px
      height: 10px
      &.level0
        background-position: -350px 0
      &.level1
        background-position: -350px -75px
      &.level2
        background-position: -350px -150px
      &.level3
        background-position: -350px -225px
      &.level4
        background-position: -350px -300px
      &.level5
        background-position: -350px -375px
      &.level6
        background-position: -350px -450px
      &.level7
        background-position: -350px -525px
    &:nth-last-of-type(2)
      span
        bottom: 2px
    &:first-child + li
      padding-top: 9px
      span
        top: -4px
        bottom: auto

/*----------------------------------------------------------
 abilities
------------------------------------------------------------*/

.parameters + .abilities
  padding-top: 15px
  border-top: 1px dotted #ccc

.abilities-list
  overflow: hidden
  li
    float: left
    width: 110px
    height: 26px
    margin: 0 5px 5px 0
    padding: 5px 4px 6px
    border-radius: 5px
    box-sizing: border-box
    font-size: 10px
    text-align: center
    font-weight: bold
    &.special
      background: #fee749
      color: #c68149
    &.plus
      background: #cde7ff
      color: #497ec6
    &.minus
      background: #ffd8e3
      color: #ef6b6b
    &.appoint
      background: #deffef
      color: #7bae76

.abilities-data
  @extend .abilities-list
  margin-bottom: 10px
  padding-bottom: 5px
  border-bottom: 1px dotted #cde7ff
  li
    position: relative
    padding-right: 25px
    background: #eef7ff
    color: #caddf7
    &.special
      padding-right: 4px
    span
      display: block
      position: absolute
      top: 2px
      right: 2px
      width: 20px
      height: 18px
      padding: 2px 0
      background: #fff
      border-radius: 0 3px 3px 0
      font-size: 12px
      text-align: center


/*----------------------------------------------------------
 results
------------------------------------------------------------*/

.results-list
  dt, dd
    padding: 10px 10px 5px
  dt
    clear: left
    float: left
    width: 25%
    font-size: 12px
    color: #666
    font-weight: bold
    &:first-child
      border-top-width: 0
  dd
    border-bottom: 1px solid #eee
    line-height: 1.3em

.results-list-unit
  margin-left: 5px
  font-size: 12px

.results-list-title
  display: inline-block
  margin-left: 30px
  padding: 4px 10px 3px
  vertical-align: top
  background: #fee749
  border-radius: 3px
  font-size: 10px
  color: #c68149
  line-height: 1em


/*----------------------------------------------------------
 PC
------------------------------------------------------------*/
@media screen and (min-width: $pcScreenMinWidth)
  @import "../../../_partial/pc/_playerDetails"
