@charset "utf-8";
/* ===================================================================

 top.css

======================================================================*/

@import "../../../_partial/var/_settings"

/*----------------------------------------------------------
 page
------------------------------------------------------------*/



/*----------------------------------------------------------
 PC
------------------------------------------------------------*/
@media screen and (min-width: $pcScreenMinWidth)
  @import "../../../_partial/pc/_top";
