// PC Layout
/*----------------------------------------------------------
 page
------------------------------------------------------------*/

.playerList
  background: #fff


/*----------------------------------------------------------
 playerList-refinePanel
------------------------------------------------------------*/

.refinePanel
  margin: 0 0 30px
  padding: 15px 0 0



/* refinePanel-header
--------------------------------------------------*/

.refinePanel-header
  padding: 0 100px 10px 7px

.refinePanel-header-title
  float: left
  margin-right: 15px
  padding-right: 0
  border-bottom-width: 0

.refinePanel-header-info
  padding-top: 3px
  dt
    margin-right: 10px
    font-weight: normal

.refinePanel-header-btnSetting
  top: 25px
  right: 15px



/* refinePanel-set
--------------------------------------------------*/

.refinePanel-set-category
  margin: 0 15px
  padding: 15px 0 0
  border-top: 1px dotted #eee
  dt
    clear: left
    float: left
    min-width: 85px
    margin-bottom: 15px
    padding: 0
    background: none
    color: #666
  dd
    margin-bottom: 15px
    overflow: hidden

.refinePanel-set-category-list
  li
    display: inline-block
    border-bottom-width: 0
  label
    padding: 0 20px 0 0

.refinePanel-set-btnArea
  margin: 0 15px
  padding-top: 15px
  border-top: 1px dotted #eee



/*----------------------------------------------------------
 playerList-control
------------------------------------------------------------*/

.playerList-control
  margin-bottom: 30px
  border-bottom: 1px solid #ccc
  overflow: hidden


/* playerList-control-sortListTab
--------------------------------------------------*/

.playerList-control-sortListTab-list
  display: block
  float: left
  border-bottom-width: 0
  overflow: hidden
  li
    float: left
    width: auto
    padding: 15px 20px 10px
    font-size: 12px
    &:hover
      border-color: #ffa61a


/* playerList-control-listInfo
--------------------------------------------------*/

.playerList-control-listInfo
  float: right
  padding-top: 15px



/*----------------------------------------------------------
 playerList-area
------------------------------------------------------------*/

.playerList-area-list
  margin-bottom: 30px
  background: transparent
  border-bottom-color: #ddd


/*----------------------------------------------------------
 playerCassette
------------------------------------------------------------*/

.playerCassette
  margin-top: -1px
  border-radius: 3px
  &:first-child
    border-top-width: 0
  a
    padding: 15px 25px 20px 10px
    &:after
      content: none
  &:hover
    background: #fff
    box-shadow: 0 0 3px #aebfda
    a:after
      content: ""


/* playerCassette-name
--------------------------------------------------*/

.playerCassette-name
  margin-bottom: 10px
  font-size: 16px
  small
    font-size: 12px

.playerCassette:hover .playerCassette-name
  color: #fa9c09


/* playerCassette-thumb
--------------------------------------------------*/

.playerCassette-thumb
  margin-right: 20px


/* playerCassette-data
--------------------------------------------------*/

.playerCassette-data-prof
  padding-top: 3px
  li
    color: #666
    &:after
      color: #999
  &.playerCassette-data-prof-team
    display: inline-block
  &.playerCassette-data-prof-birthday
    display: inline-block
  &.playerCassette-data-prof-carrier
    display: inline-block

.playerCassette-data-param
  margin-top: 10px
  padding: 5px 10px 10px
  background: rgba(255, 255, 255, 0.5)
  border: 1px solid #eee
  border-radius: 3px
  li
    font-size: 12px

.playerCassette-data-param-control
  clear: none


/*----------------------------------------------------------
 playerList-pager
------------------------------------------------------------*/

.playerList-pager-btnStart,
.playerList-pager-btnPrev,
.playerList-pager-btnNext,
.playerList-pager-btnLast
  margin: 0 10px
  font-size: 12px


.playerList-pager-btnStart:not([class*="disabled"]),
.playerList-pager-btnPrev:not([class*="disabled"]),
.playerList-pager-btnNext:not([class*="disabled"]),
.playerList-pager-btnLast:not([class*="disabled"])
  color: #039
  text-decoration: underline
  cursor: pointer


.playerList-pager-btnStart:not([class*="disabled"]):hover,
.playerList-pager-btnPrev:not([class*="disabled"]):hover,
.playerList-pager-btnNext:not([class*="disabled"]):hover,
.playerList-pager-btnLast:not([class*="disabled"]):hover
  color: #aebfda
  text-decoration: none


.playerList-pager-btnStart.disabled,
.playerList-pager-btnPrev.disabled,
.playerList-pager-btnNext.disabled,
.playerList-pager-btnLast.disabled
  color: #ddd

.playerList-pager-btnStart
  display: inline-block
.playerList-pager-btnLast
  display: inline-block

.playerList-pager-list
  margin: 0 10px
  li:not([class]):hover
    background: #ffefd5
