// PC Layout
/*----------------------------------------------------------
 playerDetails
------------------------------------------------------------*/

.playerDetails
  .main-contents
    background: #fff


/*----------------------------------------------------------
 thumbList
------------------------------------------------------------*/

.thumbList
  display: block
  position: relative
  z-index: 5
  margin-top: -30px
  padding-bottom: 30px

.thumbList-inner
  position: absolute
  top: 0
  left: 0
  width: 100%
  .inner
    position: relative
    padding-bottom: 24px

.thumbList-btnSlide
  display: inline-block
  position: absolute
  bottom: 0
  right: 15px
  height: 24px
  padding: 5px 10px 5px 20px
  background: #999
  border-radius: 0 0 3px 3px
  box-sizing: border-box
  font-size: 12px
  color: #fff
  line-height: 12px
  &:after
    content: "▼"
    margin-left: 10px
  &.active:after
    content: "×"

.thumbList-area
  position: relative
  margin-left: 255px
  padding: 15px 50px
  background: #fff
  border-width: 0 3px 3px
  border-style: solid
  border-color: #999
  border-radius: 0 0 0 5px
  overflow: hidden

.thumbList-area-player
  overflow: hidden

.thumbList-area-player-list
  position: relative
  padding-bottom: 10px
  overflow: hidden
  li
    position: relative
    float: left
    margin-right: 15px
    padding: 5px 0 3px
    border-width: 0 0 3px
    border-style: solid
    border-color: #c33
    &.current:after
      content: "▼"
      display: block
      position: absolute
      left: 50%
      bottom: -15px
      margin-left: -5px
      font-size: 14px
      color: #c33
    figure
      display: block
      width: 80px
      text-align: center
      figcaption
        margin-bottom: 2px
        line-height: 1em
        font-weight: bold
        white-space: nowrap


/*----------------------------------------------------------
 playerProfile
------------------------------------------------------------*/

.playerProfile
  float: left
  width: 280px
  margin-right: 20px


/* playerProfile-gallery
--------------------------------------------------*/

.playerProfile-gallery
  position: relative
  height: 210px

.playerProfile-gallery-thumb
  display: none

.playerProfile-gallery-list
  display: block
  li
    position: absolute
    top: 0
    left: 0

.playerProfile-gallery-nav
  position: absolute
  bottom: 8px
  right: 11px
  text-align: right
  li
    display: inline-block
    width: 12px
    height: 12px
    margin-left: 5px
    background: #fff
    border-radius: 50%
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5)
    line-height: 12px
    text-align: left
    text-indent: -9999px
    cursor: pointer
    &:hover
      background: #ff8c00
    &.active
      background: #ff8c00
      cursor: default


/* playerProfile-list
--------------------------------------------------*/

.playerProfile-list
  margin: 15px 0 0
  border-width: 0
  dt, dd
    padding: 8px 5px
  dt
    width: 100px
  dd
    font-weight: normal
    &:last-child
      border-bottom-width: 1px


/*----------------------------------------------------------
 playerAbility
------------------------------------------------------------*/

.playerAbility
  margin-top: 0
  background: #fff
  overflow: hidden


/* playerAbility-tab
--------------------------------------------------*/

.playerAbility-tab
  display: block
  position: relative
  z-index: 2
  height: 38px
  overflow: hidden
  li
    float: left
    margin-right: 10px
    padding: 7px 40px
    background: #e6e6e6
    border-width: 3px 3px 0
    border-color: #e6e6e6
    border-radius: 3px 3px 0 0
    color: #fff
    cursor: pointer
    &:nth-of-type(2)
      border-width: 3px 3px 0
    &:hover
      color: $colorTextBase
    &.active
      padding-bottom: 10px
      border-color: #ccc
      cursor: default

.playerAbility-main
  margin-top: -3px
  border: 3px solid #ccc
  border-radius: 0 3px 3px 3px


/* playerAbility-contents
--------------------------------------------------*/

.playerAbility-contents
  min-height: 519px
  padding: 0 15px
  &.pitchersAbility
    background-position: 45% 15px
  &.fieldersAbility
    background-position: 47% 60px
  &.othersAbility
    background-position: 70% 20px


/*----------------------------------------------------------
 parameters
------------------------------------------------------------*/

.parameters
  margin-left: 15px
  padding-right: 50px
  overflow: hidden

.parameters-list
  float: left
  padding-top: 15px
  margin-right: 50px
  dt
    width: 100px

.parameters-breakingBall
  float: right
  border-top-width: 0

.parameters-position
  float: right
  padding-top: 20px
  border-top-width: 0


/*----------------------------------------------------------
 abilities
------------------------------------------------------------*/

.abilities-list
  padding-left: 10px
  li
    width: 113px
    font-size: 12px

.abilities-data
  @extend .abilities-list


/*----------------------------------------------------------
 results
------------------------------------------------------------*/

.results-list
  margin: 0 5px
  overflow: hidden
  dt, dd
    padding: 10px 5px
    box-sizing: border-box
  dt
    clear: none
    width: 10%
    border-bottom: 1px solid #eee
    &:nth-of-type(3)
      clear: left
  dd
    float: left
    width: 40%
    font-size: 14px



/**/
